# Java IDE
.idea/
*.iml
*.iws
*.ipr
*.log

# Vue Node前端（防止以后不小心提交node_modules）
src/vue/node_modules/
src/vue/dist/
src/vue/npm-debug.log*
src/vue/yarn-debug.log*
src/vue/yarn-error.log*

# 系统文件
Thumbs.db
.DS_Store
